.div-main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.div-main h1 {
    display: block;
    text-align: center;
    width: 100%;
    font-weight: 700;
    color: var(--black);
}
.div-main p {
    color: var(--vdgray);
    font-size: 18px;
}